extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg",alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae quo nobis non at praesentium. Tenetur laborum voluptatem tempora eum? Delectus, nesciunt tenetur? Vitae nesciunt molestiae fugit quibusdam numquam itaque distinctio!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, soluta optio facilis consectetur magni debitis repudiandae. Ipsam eos consectetur commodi unde. Voluptatibus natus tenetur saepe mollitia vel molestiae corrupti doloremque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore odio quaerat recusandae perferendis? Illum, ad architecto. A provident exercitationem nulla sunt aliquam error, ex similique iusto deleniti accusantium veritatis sequi!

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa velit eveniet, molestias odit ullam impedit dolorum repellat officiis cumque sint eligendi rem est totam nobis harum sequi illum autem!
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa velit eveniet, molestias odit ullam impedit dolorum repellat officiis cumque sint eligendi rem est totam nobis harum sequi illum autem!
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa velit eveniet, molestias odit ullam impedit dolorum repellat officiis cumque sint eligendi rem est totam nobis harum sequi illum autem!